
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");


.top-right{
  position: absolute;
   bottom: 2.2vh;
   right: 1vw;
   
}

.top-left{
  position: absolute;
   bottom: 2.2vh;
   left: 1vw;
   
}


.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centershow{

  display: flex;
  align-items: center;
  justify-content: center;
}

.bigtitle{
  font-size: 3rem;
  color: white;
  cursor: text;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px -4px 10px rgba(255,255,255,0.3);
  
  
   
  }

  
.card-subtitle{
  border: 1px solid #DE354C;
  border-radius: 20px;
  width: 4.2rem;
  padding: 0.3rem 0.2rem;
  font-size: 0.9rem;
  color: #DE354C;

}
.show-ratings i{
  color:#cecece;   
  margin: 0.1vw;
  margin-top: 0.6vw;
  cursor: default;
  font-size:1.4vw;
  margin-right:1vw;

  
}

.clsbutton{
  font-size: 2.3rem;
  
  background-color: transparent;
  border-color: transparent;
  color: #454545;
  margin-top: -1.2rem;

  outline: none;
  cursor: pointer;
     
  }

.upbutton{
  font-size: 2.7rem;
  
  background-color: transparent;
  border-color: transparent;
  color: white;
  margin-top: -1.5rem;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
      0px -4px 10px rgba(255,255,255,0.3);
  outline: none;
  cursor: pointer;
     
  }

.likeordis{
  background-color: #0f0f0f;
  border-radius: 20px;
  padding: 0.4rem 0.8rem;
  display: flex;
  justify-content: center;

  font-size: 0.9rem;
  color: white;
}


.yorumkat{
  background-color: #0f0f0f;
  border-radius: 20px;
  padding: 0.4rem 0.9rem;
  border: 1px solid #454545;
  font-size: 0.9rem;
  color: #aaa;
  transition: all .2s ease-in-out;
 
}

.yorumkat:hover{
  transform: scale(1.1);
  cursor: pointer;
  color: white;
 
}


.profile-pic-nav {
  height: 2rem;
  width: 2rem;
  object-fit: center;
  border-radius: 50%;

  cursor: pointer;
  transition: all .2s ease-in-out;
  margin-right: 0.4vw;
}


.profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;

  cursor: pointer;
  transition: all .2s ease-in-out;
}

.profile-pic:hover {
   transform: scale(1.1);
}

.infomodal{
  background-color: #0f0f0f;
  color: white;
  opacity: 0.8;
  border-radius: 20px;

}

.close-btn{
  font-size: 1.5vw;
  cursor: pointer;
}

#showcard{

  background-color: #0f0f0f;
  border-radius: 20px;
 border: none;
margin-top: 6vh;



z-index: 999;


width:26vw;
border: 1px solid #272727;






}

#showcard img{
cursor: pointer;
height: 54vh;
}

#infocard{
  border: 1px solid #272727;
  background-color: #0f0f0f;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  left: -1rem;
  bottom: 10rem;
  width: 22vw;
  position: fixed;

}


#infocard2{
  border: 1px solid #272727;
  background-color: #0f0f0f;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  right: -1rem;
  bottom: 10rem;
  width: 22vw;
  position: fixed;


}


.baslikfooter {
  color: white;
  font-size: 1.3vw;
  
  margin-top: 1.6vh;
  letter-spacing: 0.3vw;

  font-family: "Comfortaa", cursive;
}

.kbaslikfooter {
  color: #DE354C;
  font-size: 1.3vw;
  margin-bottom: 1.2vh;

  font-family: "Comfortaa", cursive;
}

.footer {
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

  text-align: center;
}

.point{
  color: white;
  font-size: 2.7rem;
}
.pointcircle{
  background: #0f0f0f;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 0 7px 3px #DE354C;
    opacity: 0.8;
   
}

.showcardimg{
  height:56vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.center-btm{
  position: absolute;
  top: 94%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}


.contbutton {
  background-color: black;
  border: none;
  color: #000;
  font-weight: bold;
  padding: 0.2rem 0;
  z-index: 2;
}




.altbutton {
  background-color: black;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 1.2vw;
  padding: 1rem 1.5rem;
  border-radius: 20px;
 
  z-index: 2;
  opacity: 0.2;
}

.cleft{
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  height: 9vh;
  border-radius: 50%;
  
 
 }

.cmid{
border-color: transparent;
border-radius: 0;
margin: 0.9vw;
margin-top: 2vh;
height: 9vh;
border-radius: 50%;
 align-items: center;
  justify-content: center;

}

.cright{
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
height: 9vh;
border-radius: 50%;

 }

#controlbtn{
  margin-top: 2.9vh;

  border-color: transparent;
  background-color: #0f0f0f;
  font-size: 1vw;
 
  color: white;
  border: 0.85px solid #454545;
  margin-top: 2vh;
height: 9vh;
border-radius: 50%;
  
  font-family: "Comfortaa", cursive;
  opacity: 0.75;

  
  }

  #controlbtn i{
  
    margin-left: -0.1vw;
 
    
    }
  
  #controlbtn:hover{
  background-color: #272727;
  color: white;
  border-color: transparent;
  }


  #controlyanbtn{
    
  
    border-color: transparent;
    background-color: #0f0f0f;
    font-size: 1.1rem;
    color: white;
    border: 1px solid #454545;
    
    font-family: "Comfortaa", cursive;
    opacity: 0.75;
    width: 3.8rem;
  height: 3.8rem;
  

border-radius: 50%;
  
    
    }
  
  
    
    #controlyanbtn:hover{
      background-color: #272727;
      color: white;
    
    }


.mutebutton {
  background-color: black;
  border: none;
  color: #000;
  font-weight: bold;
  font-size: 1.2vw;
  padding: 0.8rem 0.2rem;
  border-radius: 50%;
  align-items: center;
    justify-content: center;
  z-index: 2;
}

.top-right3{
  position: absolute;
   top: 7vh;
   right: 1.2vw;
   
}

.grecaptcha-badge { visibility: hidden; }

video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}


hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}






.card{
  
}

nav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    opacity: 0.9;
  }

.navbar-custom {
    background-color: black;
    color: #DE354C;
    
    
}



#kategoributton{
height: 17vh;
width: 17vw;
border-color: transparent;
background-color: white;
color: #DE354C;
border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
font-size: 1.2vw;
}

#kategoributton:hover{
background-color: #DE354C;
color: white;
border-color: transparent;
}



#yorumlabutton{
  

    
    background-color: #0f0f0f;
    font-size: 1.05rem;
    color: white;
    border: 0.8px solid #454545;
    border-radius: 20px;
    font-family: "Comfortaa", cursive;
  
 
    
    }

    #yorumlabutton i{
    
      margin-left: -0.1vw;
   
      
      }
    
    #yorumlabutton:hover{
      background-color: #272727;
      color: white;
    border-color: transparent;
    }

    




#mutebtn{
  margin-top: 2.5vh;

  border-color: transparent;
  background-color: transparent;
  font-size: 1vw;
  color: white;
  border: 1px solid white;
  font-family: "Comfortaa", cursive;

  
  }

  #mutebtn i{
  

 
    
    }
  
  #mutebtn:hover{
  background-color: white;
  color: black;
  border-color: transparent;
  }




    #pasbtn{
      margin-top: 2.5vh;
      border-radius: 20px;
      border-color: transparent;
      background-color: #0f0f0f;
      font-size: 1.05rem;
      color: white;
      border: 0.8px solid #454545;
      font-family: "Comfortaa", cursive;
   
      
      }
      
      #pasbtn:hover{
        background-color: #272727;
        color: white;
      border-color: transparent;

      }



    #pasbtn i{
    
      margin-left: -0.1vw;
   
      
      }



    #yorumlabuttonv2{
        margin-top: 0.7vh;
    
        border-color: transparent;
        border-radius: 20px;
        background-color: #DE354C;
        
        font-size: 1rem;
        color: white;
        
        padding: 0.8rem 1.3rem;
     
        
        }

        #yorumlabuttonv2 i{
    
          margin-left: -0.1vw;
       
          
          }
        
        #yorumlabuttonv2:hover{
          background-color: #454545;
        color: white;
        border-color: transparent;
        }



        #yorumlabuttonv2dis{
          margin-top: 0.7vh;
      
          border-color: transparent;
          border-radius: 20px;
          background-color: #DE354C;
      
          font-size: 1rem;
          color: white;
          
          padding: 0.8rem 1.3rem;
       
          
          }
  
          #yorumlabuttonv2dis i{
      
            margin-left: -0.1vw;
         
            
            }
          
          #yorumlabuttonv2dis:hover{
          background-color: #454545;
          color: white;
          border-color: transparent;
          }



#mainbutton{
    margin-top: 2vh;

    border-color: transparent;
    background-color: white;
    color: #DE354C;
    width: 10vw;
    font-size: 1.2vw;
  
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    #mainbutton:hover{
    background-color: #DE354C;
    color: white;
    border-color: transparent;
    }
    



#normalbutton{
    background-color: #DE354C;
    color: white;
    border-color: #DE354C;
   
    }


    #guncellebutton{
        background-color: #1CD6CE;
        color: white;
        border-color: #1CD6CE;
       
        }


        #silbutton{
            background-color: #C21010;
            color: white;
            border-color: #C21010;
           
            }


body{
    font-family: "Montserrat", sans-serif;
    background: black;
    overflow-x: hidden;
    
}


/* table css */



.table-fill {
    background: white;
    border-radius:30px;
    border-collapse: collapse;
    margin: auto;
    overflow-y:scroll;
    height:100px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
  }
   
  th {
    color:white;;
    background:black;
    border-bottom:3px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:1em;
    font-weight: 50;
    padding:7px;
    text-align:left;
    z-index:1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
    text-align: center;
  }
  
  th:first-child {
    border-top-left-radius:10px;
  }
   
  th:last-child {
    border-top-right-radius:10px;
    border-right:none;
  }
    
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#454545;
    font-size:0.9em;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  tr:hover td {
    background:#454545;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  tr:nth-child(odd):hover td {
    background:#454545;
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  
  
  td:last-child {
    border-right: 10px;
    
    
  }
  
  th.text-left {
    text-align: left;
  }
  
  th.text-center {
    text-align: center;
  }
  
  th.text-right {
    text-align: right;
  }
  
  td.text-left {
    text-align: left;
    
  }
  
  td.text-center {
    text-align: center;
  }
  
  td.text-right {
    text-align: right;
  }

td {
    background:#FFFFFF;
    padding:1px;
    padding-left: 4px;
    padding-right: 4px;
    text-align:left;
    vertical-align:middle;
    font-weight:350;
    font-size:1em;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    max-height: 15px;
    text-align: center;
    
  }
  div.table-title {
    display: block;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
 }
 
 .table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
 }
 
 
 .fixTableHead {
    overflow-y: auto;
     height: 57.5vh;
     cursor: pointer;
  }
  .fixTableHead thead th {
    position: sticky;
    top: 0;
  }

  .fixTableHead thead td {
     height: 3px;
    }

 
 
 
 .yorum{
  white-space: pre-wrap;overflow: scroll;max-height:20vh;overflow-x: hidden; 
 }
 
 
 
 /* for custom scrollbar for webkit browser*/
 
 .aciklama::-webkit-scrollbar,
 .aciklama::-webkit-scrollbar-thumb {
   width: 26px;
   border-radius: 13px;
   background-clip: padding-box;
   border: 10px solid transparent;
   background-color: transparent;
 }
 
 .aciklama::-webkit-scrollbar-thumb {        
   box-shadow: inset 0 0 0 10px;
   
 }

 .yorum::-webkit-scrollbar,
 .yorum::-webkit-scrollbar-thumb {
   width: 26px;
   border-radius: 13px;
   background-clip: padding-box;
   border: 10px solid transparent;
 }
 
 .yorum::-webkit-scrollbar-thumb {        
   box-shadow: inset 0 0 0 10px;
 }




 
 



 body::-webkit-scrollbar {
    /* This is the magic bit for WebKit */
    display: none;
  }
 

