@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");

.card{
  
}

nav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    opacity: 0.9;
  }

.navbar-custom {
    background-color: black;
    color: #DE354C;
    
    
}

#kategoributton{
height: 17vh;
width: 17vw;
border-color: transparent;
background-color: white;
color: #DE354C;
border-radius: 6px;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
font-size: 1.2vw;
}

#kategoributton:hover{
background-color: #DE354C;
color: white;
border-color: transparent;
}



#yorumlabutton{
    margin-top: 1.5vh;

    border-color: transparent;
    background-color: white;
    font-size: 1vw;
    color: #DE354C;
 
    
    }
    
    #yorumlabutton:hover{
    background-color: #DE354C;
    color: white;
    border-color: transparent;
    }



#mainbutton{
    margin-top: 2vh;

    border-color: transparent;
    background-color: white;
    color: #DE354C;
    width: 10vw;
    font-size: 1.2vw;
    font-family: 'DynaPuff', cursive;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
    #mainbutton:hover{
    background-color: #DE354C;
    color: white;
    border-color: transparent;
    }
    



#normalbutton{
    background-color: #DE354C;
    color: white;
    border-color: #DE354C;
   
    }


    #guncellebutton{
        background-color: #1CD6CE;
        color: white;
        border-color: #1CD6CE;
       
        }


        #silbutton{
            background-color: #C21010;
            color: white;
            border-color: #C21010;
           
            }


body{
    font-family: "Montserrat", sans-serif;
    background: black;
    overflow-x: hidden;
    
}


/* table css */



.table-fill {
    background: white;
    border-radius:30px;
    border-collapse: collapse;
    margin: auto;
    overflow-y:scroll;
    height:100px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
  }
   
  th {
    color:white;;
    background:#DE354C;
    border-bottom:3px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:1em;
    font-weight: 50;
    padding:7px;
    text-align:left;
    z-index:1;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
    text-align: center;
  }
  
  th:first-child {
    border-top-left-radius:10px;
  }
   
  th:last-child {
    border-top-right-radius:10px;
    border-right:none;
  }
    
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#454545;
    font-size:0.9em;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
   
  tr:hover td {
    background:#454545;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
  }
   
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(odd) td {
    background:#EBEBEB;
  }
   
  tr:nth-child(odd):hover td {
    background:#454545;
  }
  
  tr:last-child td:first-child {
    border-bottom-left-radius:3px;
  }
   
  tr:last-child td:last-child {
    border-bottom-right-radius:3px;
  }
   
  
  
  td:last-child {
    border-right: 10px;
    
    
  }
  
  th.text-left {
    text-align: left;
  }
  
  th.text-center {
    text-align: center;
  }
  
  th.text-right {
    text-align: right;
  }
  
  td.text-left {
    text-align: left;
    
  }
  
  td.text-center {
    text-align: center;
  }
  
  td.text-right {
    text-align: right;
  }

td {
    background:#FFFFFF;
    padding:1px;
    padding-left: 4px;
    padding-right: 4px;
    text-align:left;
    vertical-align:middle;
    font-weight:350;
    font-size:1em;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    max-height: 15px;
    text-align: center;
    
  }
  div.table-title {
    display: block;
   margin: auto;
   max-width: 600px;
   padding:5px;
   width: 100%;
 }
 
 .table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
 }
 
 
 .fixTableHead {
    overflow-y: auto;
     height: 57.5vh;
     cursor: pointer;
  }
  .fixTableHead thead th {
    position: sticky;
    top: 0;
  }

  .fixTableHead thead td {
     height: 3px;
    }

 
 
 
 
 
 
 
 /* for custom scrollbar for webkit browser*/
 
 body::-webkit-scrollbar {
    width: 1em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    
  }