

.yorumlabtn{
  padding: 0.6rem 2rem;
  border-radius: 10px;

}
.controlbtn{
    background-color:transparent;
  
  
  }
  
  .checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 84px;
    overflow: hidden;
    margin-left: 47.5%;
  }
  
  
  .check {
    width: 36px;
    height: 18px;
    transform: rotate(-45deg);
    z-index: 2;
    overflow: hidden;
    margin-top: -9px;
  }
  
  .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #DE354C;
    animation-duration: 400ms;
    animation-name: draw-circle;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  
  
  .line1 {
    width: 4px;
    height: 0;
    background-color: #fff;
    animation-name: draw-line1;
    animation-duration: 160ms;
    animation-delay: 430ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  
  
  .line2 {
    width: 0;
    height: 4px;
    margin-top: -4px;
    background-color: #fff;
    animation-name: draw-line2;
    animation-duration: 120ms;
    animation-delay: 590ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
  }
  
  @keyframes draw-line1 {
    0% {
      height: 0px;
    }
  
    100% {
      height: 18px;
    }
  }
  
  @keyframes draw-line2 {
    0% {
      width: 5px;
    }
  
    100% {
      width: 36px;
    }
  }
  
  @keyframes draw-circle {
    0% {
      width: 0px;
      height: 0px;
    }
    
    90% {
      width: 84px;
      height: 84px;
    }  
  
    100% {
      width: 80px;
      height: 80px;
    }
  }
  
  .fa-star{
   
    font-size: 1.4vw;
    margin-right: 1vw;
    margin-top: 1.2vh;
  }

  .small-ratings .fa-star{
   
    font-size: 1vw;
    margin-right: 0.1vw;
    margin-top: 1.2vh;
  }

  .ratings{
      margin-right:1vw;
    
  }
  
  .ratings i{
      
      color:#cecece;
      
      
  }
  
  .rating-color{
      color:#DE354C !important;
     
  }
  
  .review-count{
      font-weight:400;
      margin-bottom:2px;
      font-size:24px !important;
  }
  
  
  
  .small-ratings i{
    color:#cecece;   
    margin: 0.1vw;
    cursor: default;
    
  }
  
  
  #floatingTextarea2{
    
      color: white;
          resize: none;
          border-radius: 20px;
           height: 130px;
    background:#0f0f0f;
    border: none;
       
  
  }
  
  #floatingTextarea2:focus {
      outline: none !important;
      background-color: #181818;
      box-shadow: 0 0 10px #181818;
    }
  
  .yorumcard{
  
      border: none;
      outline: none;
      color: white;
      border-radius: 20px;
      background-color: black;
  }
  
  #yorumyap{
  

  
  }
  
  #yorumyapcardbody{
      background-color: black;

    
      
  
      
  
      
  
  
  }
  
  #yorumcardbody{
      background-color: #181818;
      border-radius: 20px;
     
   
  }
  
  .link-muted { color: #aaa; text-decoration: none;   transition: all .2s ease-in-out;} .link-muted:hover { color: #DE354C; transform: scale(1.05);}
  
  
  .likeselected { color: white; text-decoration: none;   transition: all .2s ease-in-out;} .likeselected:hover { color: #DE354C; transform: scale(1.05);}
  
  
  
  
  .yorumresim{
      margin-top:1vh;
      width: 4.2vw;
      height: 7vh;
  }
  
  .yorumlar{
      margin-top: 25vh;
      margin-left:5vw;
      margin-right:5vw;

  

    
  }
  
  
  .close-btn{
     font-size:25px;
     cursor:pointer;
  
  }
  
  
  .aciklama{
      height:12rem; float: left;   overflow: scroll;
  overflow-x: hidden; 
  
  
  }
  
  .redtitle{
      color: #DE354C;
      font-weight: 500;
  }
  
  
  
  
  
  
  @-webkit-keyframes action {
      0% { transform: translateY(0); }
      100% { transform: translateY(-5px); }
  }
  
  @keyframes action {
      0% { transform: translateY(0); }
      100% { transform: translateY(-5px); }
  }
  
  
  
  
  
  .upbutton:hover{
    -webkit-animation: action 1s infinite  alternate;
      animation: action 1s infinite  alternate;
  }
  
  
  .visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
  
  }
  
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
   
    
  }
  
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  
  
  .center-bottom{
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .top-right2{
     position: absolute;
      top: 1.8vh;
      right: 0.4vw;
      
  }
  
  
  
  
  .top-right{
    position: absolute;
     bottom: 2.2vh;
     right: 1vw;
     
  }
  
  .top-left{
    position: absolute;
     bottom: 2.2vh;
     left: 1vw;
     
  }
  
  
    
  
  .bigshadow{
    z-index: 2;
      background: black;
      opacity: 0.8;
  
  
     
  }
  
  
  
  
  
  
  #myVideo {
  /*    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
   pointer-events: none; */
    
  
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
   pointer-events: none;
    
  }
  
  
  
  h1{
  font-size: 2.1rem;
  color: white;
  cursor: text;
  }
  
  h2{
  font-size: 1.6rem;
  color: white;
  
  }
  
  h4{
    color: #DE354C;  
    font-size: 1.5vw;
  }
  
  .normalbutton {
    background-color: #fff;
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 1.2vw;
    padding: 1rem 1.5rem;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }
  
  
  
  
  
  
  .next {
    background-color: #fff;
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 1.2vw;
    padding: 1rem 1.5rem;
    border-radius: 6px;
   
    z-index: 2;
  }
  
  .next:before {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    content:  '';
    z-index: 0;
    animation: fill 2s linear forwards;
    z-index: 3;
  }
  
  button .reverse:before {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    right: 0;
    content:  '';
    z-index: 0;
    animation: fillreverse 2s linear forwards;
    z-index: 3;
  }
  
  i {
    margin: 0 1rem;
  }
  
  @keyframes fill {
    from {width: 100%}
    to {width: 0}
  
  }
  
  
  @keyframes fillreverse {
    from {width: 0}
    to {width: 100%}
  
  }
  
  
  
  
  
  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
  svg {
    width: 200px;
    height: 200px;
    transform: rotate(-90deg);
    overflow: initial;
  }
  
  circle {
    stroke-width: 20px;
    fill: none;
  }
  circle:nth-child(1) {
    stroke: rgb(0, 0, 0);
  }
  circle:nth-child(2) {
    stroke: #f00;
    /* position: relative; */
    /* animation: anim 1s linear 1; */
    transition: all 8s ease;
  }
  .circle_box:nth-child(1) circle:nth-child(2) {
    stroke-dashoffset: calc(100 * 6);
    stroke-dasharray: calc(100 * 6);
    stroke-dashoffset: calc((100 * 6) - ((100 * 6) * 0) / 100);
  }
  
  .circle_box {
    font-size: 36px;
    color: #fff;
    text-align: center;
  }
  .circle_box div {
    position: relative;
  }
  .circle_box span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 40px;
  }
  span.danger {
    color: #f00;
    font-size: 30px;
  }
  
  input {
    margin-bottom: 20px;
  }
  
  
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
  
  
  
  
  
  body {
    overflow: hidden; /* Hide scrollbars */
    
  }
  
  
  #puanlainfo{
     
  }
  
  
  div.stars{
   
    display: inline-block;
    margin-bottom: 0.5vh;
    
  }
  
  input.star{
    display: none;
    
  }
  
  label.star {
    float: right;
    padding: 0.7vw;
    font-size: 1.4vw;
    color: #DE354C;
    transition: all .2s;
    cursor: pointer;
  
  }
  
  label.staryorum {
    float: right;
    padding: 0.1vw;
    font-size: 1.2vw;
    color: #DE354C;
    transition: all .2s;
  
  }
  
  
  
  input.star:checked ~ label.star:before {
    content:'\f005';
    color: #FD4;
    transition: all .25s;
  }
  
  
  input.star-10:checked ~ label.star:before {
    color: #DE354C;
    text-shadow: 0 0 20px #DE354C;
  }
  
  
  
  input.star-9:checked ~ label.star:before {
   color: #DE354C;
  }
  
  
  input.star-8:checked ~ label.star:before {
    color: #DE354C;
  }
  input.star-7:checked ~ label.star:before {
   color: #DE354C;
  }
  input.star-6:checked ~ label.star:before {
   color: #DE354C;
  }
  
  
  input.star-5:checked ~ label.star:before {
    color: #DE354C;
  }
  input.star-5:checked ~ label.star:before {
   color: #DE354C;
  }
  input.star-4:checked ~ label.star:before {
  color: #DE354C;
  }
  
  
  
  input.star-3:checked ~ label.star:before {
   color: #DE354C;
  }
  
  input.star-2:checked ~ label.star:before {
   color: #DE354C;
  }
  
  
  
  input.star-1:checked ~ label.star:before {
  color: #DE354C;
  }
  
  label.star:hover{
    transform: rotate(-15deg) scale(1.3);
  }
  
  label.star:before{
    content:'\f006';
    font-family: FontAwesome;
  }
  
  label.staryorum:before{
    content:'\f006';
    font-family: FontAwesome;
  }
  
  .rev-box{
    overflow: hidden;
    height: 0;
    width: 100%;
    transition: all .25s;
  }
  
  textarea.review{
    background: #222;
    border: none;
    width: 100%;
    max-width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    color: #EEE;
  }
  
  label.review{
    display: block;
    transition:opacity .25s;
  }
  
  
  
  input.star:checked ~ .rev-box{
    height: 125px;
    overflow: visible;
  }
  
  